* {
    margin: 0;
    padding: 0;
}
canvas {
    margin: 0 auto;
    display: block;
}
video {
    width: 50%;
    display: block;
    height: 650px;
    margin: auto;
}

iframe {
    width: 800px;
    display: block;
    height: 650px;
    margin: auto;
}