<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.11/plyr.css">
    <link rel="stylesheet" href="client.css">

</head>
<body ng-cloak ng-app="beacon" ng-controller="DeskCtrl">

<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        605B
    </div>
</md-toolbar>
<md-content layout-padding>
    <div layout="row">
        <div flex>
            <md-card>
                <md-card-content>
                    <canvas id="box"></canvas>
                </md-card-content>
            </md-card>
        </div>
        <div flex="20">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Users</span>
                    </md-card-title-text>
                </md-card-title>
                <md-list class="md-dense">
                    <md-list-item ng-repeat="user in users track by user.id" ng-click="follow(user)">
                        <p>#{{user.id}} {{user.name}}</p>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex>
            <md-card>
                <md-card-content>
                    <video autoplay id="currentCam">
                        Your browser does not support the video tag.
                    </video>
                </md-card-content>
            </md-card>
        </div>
        <div flex="20">
        </div>
    </div>
</md-content>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<script src="https://cdn.plyr.io/2.0.11/plyr.js"></script>

<script src="/app.js"></script>
<script src="/factory.js"></script>
<script src="/canvas.js"></script>
</body>
</html>